---
import Parallax from "../components/Parallax.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="El Buen Trato">
<Parallax fondo="/src/img/fullgas.jpg" textColor="white">
    <div class="flex flex-wrap items-center justify-center gap-2 ">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            lkllklkl
        </div>
    </div>
</Parallax>
</Layout>