---
import EnlaceLF from "../components/EnlaceLF.astro";
import ArticlesCount from "../components/ArticlesCount.astro";
import AditivoSection from "../components/BrandSection.astro";
import CountSection from "../components/CountSection.astro";

import HeroSection from "../components/HeroSection.astro";
import AboutUs from "../components/about/AboutUs.astro";
import Layout from "../layouts/Layout.astro";
import NewsNav from "../components/NewsNav.astro";
import newone from "../img/noticias/NOTICIA1.jpg";
import newtwo from "../img/noticias/NOTICIA2.jpg";
import newthree from "../img/noticias/NOTICIA3.jpg";
---

<Layout title="FullGas">
		<HeroSection
			title=`LÍDERES DEL <span
			class="text-red-500 dark:text-red-400">LIBRE MERCADO</span> DE COMBUSTIBLE`
			primaryBtn="FACTURA AQUÍ"
			primaryBtnURL="http://74.208.68.158:9062/Account/Login?ReturnUrl=%2F"
			secondaryBtn="VALES Y TARJETAS"
			secondaryBtnURL="http://enpuntomovil.com:6099/login.aspx?ReturnUrl=%2f"
			alt="FullGas Gasolineras"
		>
			<video
				slot="background"
				class="object-center object-cover h-full w-full"
				autoplay
				muted
				loop
				src="src/video/original.mp4"
			>
			</video>
		</HeroSection>
	<AboutUs
		title="FULLGAS GASOLINERAS"
		subTitle="SOMOS UNA EMPRESA REFERENTE, LÍDER EN HOSPITALIDAD, DESPACHANDO, DESDE HACE MÁS DE 40 AÑOS, BUEN TRATO."
		benefits={[
			"Encuentranos en +14 estados de la república méxicana y en centroamérica.",
			"Personal 100% capacitado.",
		]}
	/>
	<AditivoSection />

	<CountSection fondo="/src/img/fullgas.jpg" textColor="white">
		<div class="flex flex-wrap items-center justify-center gap-2 px-2 py-5">
			<div class="mx-auto max-w-7xl px-6 lg:px-8">
				<ArticlesCount />
			</div>
		</div>
	</CountSection>
	<EnlaceLF thirdBtn="Más Información" thirdBtnURL="/licencia" />
	
	<NewsNav title="NOTICIAS" subtitle="FULLGAS"
	head1="FULLGAS"
	image1="background-image: url('src/img/noticias/NOTICIA1.jpg');"
	content1="CIERRAN GASOLINERA DE EMPRESA MEXICANA POR VOLCÁN EN GUATEMALA"
	url1="https://www.forbes.com.mx/empresa-mexicana-cierra-una-gasolinera-por-erupcion-en-guatemala/"
	head2="FULLGAS"
	image2="background-image: url('src/img/noticias/NOTICIA3.jpg');"
	content2="FULLGAS TAMBIEN VA A LA GUERRA LANZA SU MARCA DE GASOLINERAS"
	url2="https://www.forbes.com.mx/fullgas-tambien-va-a-la-guerra-lanza-su-marca-de-gasolineras/"
	head3="FULLGAS"
	image3="background-image: url('src/img/noticias/NOTICIA2.jpg');"
	content3="FULLGAS MANTIENEN PLAN DE GASOLINERAS CON CHEINOL"
	url3="https://www.forbes.com.mx/fullgas-va-por-pequenos-gasolineros-lanza-su-propia-licencia/"/>
</Layout>
