---
import Parallax from "../components/Parallax.astro";
import Layout from "../layouts/Layout.astro";
---
<Layout title="Vales y tarjetas">

    <section class=" max-w-7xl m-auto border">
        <Parallax bg="">

        </Parallax>
    </section>
</Layout>