---

---
<footer class="py-2 px-3 bg-slate-950 text-slate-300">
    <div class="max-w-7xl m-auto">
        <span>© 2024 FULLGAS. Gasolineras.</span>
        <a href="#" target="_blank">Aviso de privacidad</a>
    </div>
</footer>