---
import NavElement from "./NavElement.astro";
---
<div class="block gap-2 items-center sm:flex relative w-full max-sm:px-2 sm:w-fit">
    <ul class="sm:flex items-center gap-1 max-sm:px-2 max-sm:py-1">
        <!-- <NavElement href="/" tittle="Inicio"/> -->
        <NavElement href="/buentrato" tittle="Buen trato"/>
        <NavElement href="/ubicaciones" tittle="Ubicaciones"/>
        <NavElement href="/vales" tittle="Vales/tarjetas"/>
        <NavElement href="/licencia" tittle="Licencia"/>
        <NavElement href="/escuderia" tittle="Escudería"/>
        <NavElement href="/contact" tittle="Contacto"/>

    </ul>
</div>