---
import { Image } from "astro:assets";
import LinksContainer from "./LinksContainer.astro";
import logo from '../img/Logo.png';
import Menu from "../icons/Menu.astro";
import Close from "../icons/Close.astro";
---
<header class=" sticky inset-x-0 top-4 z-50 flex w-full flex-wrap text-sm md:flex-nowrap md:justify-start" transition:animate="none">
    <nav class="relative mx-2 w-full rounded-[36px] border border-gray-950/40 bg-gray-950/60 px-4 py-3 backdrop-blur-md dark:border-neutral-700/40 dark:bg-neutral-800/80 dark:backdrop-blur-md md:flex md:items-center md:justify-between md:px-6 md:py-0 lg:px-8 xl:mx-auto" aria-label="Global" x-data="{expand:false}">
        <div class="flex justify-between items-center">
            <a href="/">
                <figure class="w-40">
                    <Image src={logo} alt="logo FullGas" class="w-full aspect-[16/6]"/>
                </figure>
            </a>
            <button @click="expand=!expand" aria-label="menu" class="sm:hidden text-slate-200">
                <div x-show="!expand">
                    <Menu clases="size-8"/>
                </div>
                <div x-show="expand">
                    <Close clases="size-8"/>
                </div>
            </button>
        </div>
        <div :class="expand?' left-0 right-0':'hidden sm:flex'">
            <LinksContainer/>
        </div>
    </nav>
</header>