---
import Card from "../components/Card.astro";
---
<section class="bg-neutral-200 py-4">
    <div class="max-w-7xl m-auto text-balance text-neutral-700 grid grid-cols-1 md:grid-cols-3 gap-3 divide-y md:divide-y-0 divide-neutral-800">
        <Card title="CAPACITACIÓN" >
            <img src="src/img/servicios/conferencias.png" class="size-24" slot="icon"/>
            <p slot="content">
                En cada una de nuestra gasolineras.
            </p>
        </Card>
        <Card title="AUDITORÍA">
            <img src="src/img/servicios/relacion.png" class="size-24" slot="icon"/>
            <p slot="content">
                En cada una de nuestra gasolineras.
            </p>
        </Card>
        <Card title="INCENTIVOS">
            <img src="src/img/servicios/pago.png" class="size-24" slot="icon"/>
            <p slot="content">
                Contamos con programas de incentivos a colaboradores destacados.
            </p>
        </Card>
    </div>
</section>