---
import Card from "../components/Card.astro";
import Airplane from "../icons/Airplane.astro";
import Car from "../icons/Car.astro";
import Recycle from "../icons/Recycle.astro";
---

<section class="bg-red-600 py-4">
    <div class="max-w-7xl m-auto text-balance text-red-50 grid grid-cols-1 md:grid-cols-3 gap-3 divide-y md:divide-y-0 divide-red-800">
        <Card title="TURISMO">
            <Airplane clases="size-12 text-red-500" slot="icon"/>
            <p slot="content">
                Durante más de 7 días los participantes descubren la belleza de la península de Yucatán, conduciendo fuera de las rutas convencionales lo que los conecta con los pequeños poblados llenos de belleza natural y la calidez de su gente.
            </p>
        </Card>
        <Card title="ECOLOGÍA">
            <Recycle clases="size-12 text-red-500" slot="icon"/>
            <p slot="content">
                Tan solo en la península de Yucatan hay más especies de aves que en todo Europa. Este contacto con la fauna , vegetación y lugares como cenotes y playas cristalinas lleva a la reflexión del equilibrio que debemos preservar.
            </p>
        </Card>
        <Card title="SEGURIDAD VÍAL">
            <Car clases="size-12 text-red-500" slot="icon"/>
            <p slot="content">
                La iniciativa detrás de BeeSafe refleja nuestro compromiso inquebrantable con la seguridad en las carreteras, y busca fomentar una cultura de responsabilidad y atención plena al conducir.
            </p>
        </Card>
    </div>
</section>
