<section class="grid gap-24 md:grid-cols-3 md:gap-16">
    <article >
        <div class="w-32 h-32 flex justify-center items-center bg-neutral-300 p-1 rounded-sm mb-6">
            <img src="src/img/conferencias.png" alt="">
        </div>
        <h2>
            <span
                id="estaciones"
                class="flex text-neutral-100 text-xl font-extrabold mb-2"
                >CAPACITACIÓN</span
            >
            <span class="inline-flex font-semibold bg-clip-text text-white mb-2"
                >En cada una de nuestras gasolineras.</span
            >
        </h2>
    </article>
    <article >
        <div class="w-32 h-32 flex justify-center items-center bg-neutral-300 p-1 rounded-sm mb-6">
            <img src="src/img/relacion.png" alt="">
        </div>
        <h2>
            <span
                id="employees"
                class="flex text-neutral-100 text-xl font-extrabold mb-2"
                >AUDITORÍA</span
            >
            <span class="inline-flex font-semibold bg-clip-text text-white mb-2"
                >En cada una de nuestras gasolineras.</span
            >
        </h2>
    </article>
    <article>
        <div class="w-32 h-32 flex justify-center items-center bg-neutral-300 p-1 rounded-sm mb-6">
            <img src="src/img/pago.png" alt="">
        </div>
        <h2>
            <span
                id="countries"
                class="flex text-neutral-100 text-xl font-extrabold mb-2"
                >INCENTIVOS</span
            >
            <span class="inline-flex font-semibold bg-clip-text text-white mb-2"
                >Contamos con programas de incentivos a colaboradores destacados</span
            >
        </h2>
    </article>
</section>
